

<div app-align-content layout="row" layout-align="center start" layout-wrap>
  <!-- First column -->
  <div card-column-1 layout="column">
    <md-card card-spacing>
      Flat <br />
      <button md-button>Default</button>
      <button md-button color="accent">Accent</button><br />
      Raised <br />
      <button md-raised-button>Default</button>
      <button md-raised-button color="primary">Primary</button>
      <button md-raised-button color="accent">Accent</button>
      <button md-raised-button color="warn">Warn</button> <br />
      Fab <br />
      <button md-fab>Default</button>
      <button md-fab color="primary">Primary</button>
      <button md-fab color="accent">Accent</button>
      <button md-fab color="warn">Warn</button> <br />
      Mini Fab <br />
      <button md-mini-fab>Default</button>
      <button md-mini-fab color="primary">Primary</button>
      <button md-mini-fab color="accent">Accent</button>
      <button md-mini-fab color="warn">Warn</button> <br />
    </md-card>
    <md-card card-spacing><md-icon>check</md-icon>  <br /><md-icon>add</md-icon> <br /></md-card>
    <md-card card-spacing>test <br />test <br />test <br /></md-card>

    <md-card card-spacing>
      <div class="row">
        <div class="col-md-6">

          <div style="display: block;">
          <canvas baseChart
                      [datasets]="lineChartData"
                      [labels]="lineChartLabels"
                      [options]="lineChartOptions"
                      [colors]="lineChartColors"
                      [legend]="lineChartLegend"
                      [chartType]="lineChartType"
                      (chartHover)="chartHovered($event)"
                      (chartClick)="chartClicked($event)"></canvas>
          </div>

        </div>

        <div class="col-md-6" style="margin-bottom: 10px">
          <table class="table table-responsive table-condensed">
            <tr>
              <th *ngFor="let label of lineChartLabels">{{label}}</th>
            </tr>
            <tr *ngFor="let d of lineChartData">
              <td *ngFor="let label of lineChartLabels; let j=index">{{d && d.data[j]}}</td>
            </tr>
          </table>
          <button md-button (click)="randomize()">CLICK</button>
        </div>

      </div>
    </md-card>

  </div>
</div>
